.App {
    .title, .subtitle {
        margin: 10px;
    }

    .title {
        font-size: 4em;
    }

    .subtitle {
        font-size: 3em;
    }
    
}
.card-container {
    height: 20vh;
    width: 80%;
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}


// snow background

$s1:"";
@for $i from 1 through 100 {
    $s1: $s1 + random(1000)*0.1vw 
    + " " + random(1000)*0.1vh 
    + " " + 0 + " " 
    + random(50)*-0.01rem + #fff;

    @if $i < 100 {
        $s1: $s1 + ",";

    }
}

.snow {
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
    top:-100vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.layer1 {
    width: 1.3rem;
    height: 1.3rem;
    filter:blur(1.3px);
    box-shadow: #{$s1};
    animation-duration: 6s;
}
.layer1.a {
    animation-delay: -3s;
}

@keyframes fall {
    100% {transform: translateY(200vh); }
}


  