body {
  margin: 0;
  text-align: center;
  background: linear-gradient(#123, #111);
  color: #fff;
  position: relative;
  min-height: 100vh;
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Dancing Script', cursive;
}

